:root {
    --primary-color: #FF2E63;
    --secondary-color: #252A34;
    --light-gray: #F9F9F9;
    --light-pink: #FFC5E6;
    --gray: #E9E9E9;
    --text-gray: #4E4E4E;

}

body {
    font-family: "Catamaran", sans-serif;
    font-weight: 500;
    text-align: center;
}

.navbar {
    background: var(--primary-color);
}

.navbar-brand img {
    width: 72px;
}

.nav-link {
    color: #FFFFFF;
    text-align: center;
    transition: 0.3s;
}

.button {
    background: var(--secondary-color);
    padding: 8px 0;
    width: 100px;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
    transition: 0.3s;
}

section {
    padding: 60px 0;
}

.hero {
    background: var(--primary-color);
    color: #FFFFFF;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 24px;
}

.hero-btn {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.hero-btn .button {
    width: 200px;
    text-decoration: none;  
}

.btn-contato {
    color: var(--secondary-color);
}

.links {
    margin: 24px 0;
}

.links a {
    color: var(--secondary-color);
    font-size: 40px;
    transition: 0.3s;
}

.hero img {
    width: 100%;
    border-radius: 8px;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

.about {
    background: var(--light-gray);
    color: var(--secondary-color);
}

h3{
    font-size: 20px;
}

.about p {
    color: var(--text-gray);
}

.cards-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.about-card {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 5px 5px 6px #00000050;
    padding: 8px;
    height: 180px;
    max-width: 300px;
    text-align: start;
}

.about-card i{
    font-size: 32px;
    color: var(--primary-color);
    background: var(--light-pink);
    border-radius: 6px;
    padding: 4px;
    margin-bottom: 16px;
}

.skills {
    background: var(--primary-color);
}
.skills-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.skills-card {
    border-radius: 8px;
    box-shadow: 5px 5px 6px #00000050;
    color: var(--secondary-color);
    padding: 8px;
    text-align: start;
}

.skills-iten {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.skills-iten p {
    background: var(--gray);
    padding: 6px;
    margin-bottom: 0;
    border-radius: 6px;
}

.projects {
    background: var(--light-gray);
}

.projects p {
    color: var(--text-gray);
}

.projects-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-card {
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 6px #00000050;
    padding: 8px;
    text-align: start;
    max-width: 300px;
    margin: 0 auto;
}

.project-card img {
    margin-bottom: 12px;
    border: 1px solid var(--gray);
}

.project-card p {
    margin-bottom: 8px;
}

.project-card-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

.project-card-skills p {
    border: 1px solid var(--gray);
    border-radius: 6px;
    padding: 4px;
    margin-bottom: 8px;
}

.project-card-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.project-card-buttons a {
    text-decoration: none;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    text-align: center;
    width: 100px;
    padding: 6px;
}

.btn-card-git {
    color: var(--secondary-color);
}

.btn-card-demo {
    color: #FFFFFF;
    background: var(--secondary-color);
}

.contact {
    background: var(--primary-color);
}

.contact-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-card {
    border-radius: 8px;
    box-shadow: 5px 5px 6px #00000050;
    padding: 8px;
    color: var(--text-gray);
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-align: start;
}

.contact-card i {
    color: var(--primary-color);
    background: var(--light-pink);
    font-size: 48px;
    margin: auto 0;
    border-radius: 6px;
    padding: 4px;
}

.contact-card p {
    margin-bottom: 0;
}

.contact-card a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer {
    background: var(--primary-color);
    color: #FFFFFF;
}

footer .links {
    margin: 0;
    padding: 20px 0;
}

footer p {
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 8px;
}

@media screen and (min-width:768px) {
    .skills-group {
        width: 420px;
        margin: 0 auto;
    }
}
@media screen and (min-width:992px) {
    body {
        font-size: 20px;
        font-weight: 400;
    }
    
    .navbar .collapse {
        justify-content: end;
    }

    .navbar .collapse ul {
        gap: 32px;
    }

    .nav-link:hover {
        color: var(--secondary-color);
        transform: scale(1.1);
    }

    .button:hover {
        transform: scale(1.1);
        color: #FFFFFF;
    }

    .hero-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }

    .hero-info {
        text-align: start;
    }

    .hero-btn {
        flex-direction: row;
        align-items: start;
    }

    .btn-contato:hover {
        color: var(--secondary-color);
    }

    .links {
        margin-bottom: 0;
    }

    .links a:hover {
        color: #FFFFFF;
    }

    .cards-group {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .about-card {
        height: 200px;
    }

    .skills-group {
        width: 500px;
    }

    .skills-iten p {
        transition: 0.3s;
    }

    .skills-iten p:hover {
        transform: scale(1.1);
    }

    .projects-group {
        flex-direction: row;
        justify-content: center;
    }

    .project-card {
        margin: 0;
    }

    .project-card img {
        width: 100%;
        height: 200px;
    }

    .project-card-skills p,
    .project-card-buttons a{
        transition: 0.3s;
    }

    .project-card-skills p:hover,
    .project-card-buttons a:hover {
        transform: scale(1.1);
    }


}
@media screen and (min-width:1024px) {
    
}
@media screen and (min-width:1440px) {
    .button{
        margin-left: 0;
    }

    .hero img {
        width: 70%;
    }
}